.head {
    background-color: rgb(7, 2, 15);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headi {
    font-size: 3em;
}
.mainc {
    width: 100%;
    font-size: 4vmin;
    color: rgb(7, 2, 15);
}
.foot {
    padding: 10px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 3vmin;
    background-color: rgb(7, 2, 15);
}

.questioncard {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
