.tit {
    padding-left: 25px;
	font-size: 20px;
    color: rgb(33, 33, 33);
    font-weight: 600;
    margin-bottom: 10px;
	margin: 20px 0px;
    border-bottom: 2px solid black;
}
.con {
	font-size: 25px;
    color: #263238;
}
pre {
	display: block;
	font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin-bottom: 1em;
    overflow: auto;
	white-space: pre-wrap;
    background: #f0f0fa;
    padding: 10px 15px;
    color: #263238;
    line-height: 2;
    font-size: 16px;
    border-radius: 3px;
}
code {
    color: #546e7a;
    background-color: #f7f9fa;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    font-family: monospace;
}