.na {
	background-color: black;
 	font-size: 20px;
}

.one {
	display: flex;
	list-style: none;
	margin: 0px;
}

li {
	padding: 15px;
	text-decoration: none;
	color: white;
}

.log {
	width: 80px;
  	height: 80px;
  	border-radius: 80%;
}

.coc {
	padding: 10px;
	background-color: white;
}