.logo {
    height: 150px;
    width: 150px;
}
.h {
    padding: 0px;
    background-color: rgb(7, 2, 15);
    color: white;
}
h1 {
    padding-top: 30px; 
    font-size: 40px;
}
.but {
    padding: 0px 5px;
    margin: 3px;
}
.b {
    margin: 10px;
}