.wel {
	margin-top: 10px;
	font-size: 25px;
}
.CodeMirror { 
	height: 400px;
	text-align: left;
 }

.con {
	margin-right: 70px;
	margin-left: 70px;
}
.bu {
	font-size: 20px;
	margin : 10px 20px;
	padding: 5px 10px; 
}
.bu:hover {
	background-color: aliceblue;
}
.code {
	font-size: 20px;
}
.out {
	float: left;
}